
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
}
